<%- include('partials/h-user.ejs') %>
<div class="bg-dark" style="padding: 10 0;">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
            <% slide.forEach(function(slide){ %>
                <div class="<%= slide.class%>">
                    <img src="<%= slide.image %>" class="d-block w-20 image-slide" />
                </div>
                <% }); %>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div style="padding: 20 0; background: #729086;">
    <h4 class="text-center text-white">ชาร์ตเพลงฮิต</h4>
    <p class="text-center text-white">เช็คอันดับเพลงฮิตประจำสัปดาห์ได้ก่อนใคร ดาวน์โหลดเพลงฮิตจากชาร์ตเพลง The Ciambella Top 20 อัพเดทเพลงใหม่</p>
</div>

<div style="background-image: url('./images/background.jpg');">
    <div class="container">
        <div style="padding: 20 0;">
            <!-- <h5 class="text-center" style="color: #97918b;">Top 20</h5> -->
            <!-- <h6 class="text-center" style="color: #97918b;">Update March 15, 2021</h6> -->
        </div>

        <div class="row">
            <div class="col-md-2">
                <div>
                    <img src="./images/home1.jpg" class="img-fluid" />
                </div>
            </div>
  
            
            
            <div class="col-md-5">
                <% home.forEach(function(home){ %>
                <div class="row">
                    <div class="col-md-2 align-self-center">
                        <div>
                            <h1 class="text-center text-white"><%= home.no %></h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="<%= home.image %>" class="img-fluid w-100 image-item" />
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md" style="color: #73565e">
                                <strong><%= home.music %></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md text-white">
                                <strong><%= home.name %></strong>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %> 
            </div>


            <!-- <div class="col-md-5">
                <% home.forEach(function(home){ %>
                <div class="row">
                    <div class="col-md-2 align-self-center">
                        <div>
                            <h1 class="text-center text-white"><%= home.no %></h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <img src="<%= home.imageMu %>" class="img-fluid w-100 image-item" />
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md" style="color: #73565e">
                                <strong><%= home.music %></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md text-white">
                                <strong><%= home.artist %></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %> 
            </div> -->
            
            
        </div>
        </div>

    </div>
</div>

<div style="padding: 20 0; background: #457373;">
</div>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>

<%- include('partials/footer.ejs') %>

